@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Geist', sans-serif;

  --color-background: var(--ds-background);
  --color-surface: var(--ds-surface);
  --color-surface-dim: var(--ds-surface-dim);
  --color-surface-bright: var(--ds-surface-bright);
  --color-surface-container-lowest: var(--ds-surface-container-lowest);
  --color-surface-container-low: var(--ds-surface-container-low);
  --color-surface-container: var(--ds-surface-container);
  --color-surface-container-high: var(--ds-surface-container-high);
  --color-surface-container-highest: var(--ds-surface-container-highest);
  --color-on-surface: var(--ds-on-surface);
  --color-on-surface-variant: var(--ds-on-surface-variant);
  --color-inverse-surface: var(--ds-inverse-surface);
  --color-inverse-on-surface: var(--ds-inverse-on-surface);
  --color-outline: var(--ds-outline);
  --color-outline-variant: var(--ds-outline-variant);
  --color-surface-tint: var(--ds-surface-tint);
  --color-surface-variant: var(--ds-surface-variant);
  --color-on-background: var(--ds-on-background);

  --color-primary: var(--ds-primary);
  --color-on-primary: var(--ds-on-primary);
  --color-primary-container: var(--ds-primary-container);
  --color-on-primary-container: var(--ds-on-primary-container);
  --color-inverse-primary: var(--ds-inverse-primary);
  --color-primary-fixed: var(--ds-primary-fixed);
  --color-primary-fixed-dim: var(--ds-primary-fixed-dim);
  --color-on-primary-fixed: var(--ds-on-primary-fixed);
  --color-on-primary-fixed-variant: var(--ds-on-primary-fixed-variant);

  --color-secondary: var(--ds-secondary);
  --color-on-secondary: var(--ds-on-secondary);
  --color-secondary-container: var(--ds-secondary-container);
  --color-on-secondary-container: var(--ds-on-secondary-container);
  --color-secondary-fixed: var(--ds-secondary-fixed);
  --color-secondary-fixed-dim: var(--ds-secondary-fixed-dim);
  --color-on-secondary-fixed: var(--ds-on-secondary-fixed);
  --color-on-secondary-fixed-variant: var(--ds-on-secondary-fixed-variant);

  --color-tertiary: var(--ds-tertiary);
  --color-on-tertiary: var(--ds-on-tertiary);
  --color-tertiary-container: var(--ds-tertiary-container);
  --color-on-tertiary-container: var(--ds-on-tertiary-container);
  --color-tertiary-fixed: var(--ds-tertiary-fixed);
  --color-tertiary-fixed-dim: var(--ds-tertiary-fixed-dim);
  --color-on-tertiary-fixed: var(--ds-on-tertiary-fixed);
  --color-on-tertiary-fixed-variant: var(--ds-on-tertiary-fixed-variant);

  --color-error: var(--ds-error);
  --color-on-error: var(--ds-on-error);
  --color-error-container: var(--ds-error-container);
  --color-on-error-container: var(--ds-on-error-container);
}

:root {
  --ds-background: #fbfafd;
  --ds-surface: #ffffff;
  --ds-surface-dim: #f5f4f7;
  --ds-surface-bright: #ffffff;
  --ds-surface-container-lowest: #ffffff;
  --ds-surface-container-low: #f7f6f9;
  --ds-surface-container: #efeff4;
  --ds-surface-container-high: #e8e7ed;
  --ds-surface-container-highest: #e0dfe5;
  --ds-on-surface: #1c102b;
  --ds-on-surface-variant: #4a4353;
  --ds-inverse-surface: #30283f;
  --ds-inverse-on-surface: #f3edf8;
  --ds-outline: #7b7483;
  --ds-outline-variant: #cbc3d1;
  --ds-surface-tint: #5b7a3a;
  --ds-surface-variant: #e9e1f2;
  --ds-on-background: #1c102b;

  --ds-primary: #5b7a3a;
  --ds-on-primary: #ffffff;
  --ds-primary-container: #bbeba0;
  --ds-on-primary-container: #142500;
  --ds-inverse-primary: #a5d480;
  --ds-primary-fixed: #bbeba0;
  --ds-primary-fixed-dim: #a5d480;
  --ds-on-primary-fixed: #0b2000;
  --ds-on-primary-fixed-variant: #446228;

  --ds-secondary: #5c5540;
  --ds-on-secondary: #ffffff;
  --ds-secondary-container: #e2d9c2;
  --ds-on-secondary-container: #45402b;
  --ds-secondary-fixed: #e9e2d3;
  --ds-secondary-fixed-dim: #cdc6b8;
  --ds-on-secondary-fixed: #1e1b13;
  --ds-on-secondary-fixed-variant: #4b463c;

  --ds-tertiary: #574a8c;
  --ds-on-tertiary: #ffffff;
  --ds-tertiary-container: #e8dcff;
  --ds-on-tertiary-container: #3f2e74;
  --ds-tertiary-fixed: #eddcff;
  --ds-tertiary-fixed-dim: #d7baff;
  --ds-on-tertiary-fixed: #280056;
  --ds-on-tertiary-fixed-variant: #563487;

  --ds-error: #ba1a1a;
  --ds-on-error: #ffffff;
  --ds-error-container: #ffdad6;
  --ds-on-error-container: #410002;
}

.dark {
  --ds-background: #1a063b;
  --ds-surface: #1a063b;
  --ds-surface-dim: #1a063b;
  --ds-surface-bright: #412f63;
  --ds-surface-container-lowest: #150136;
  --ds-surface-container-low: #231043;
  --ds-surface-container: #271448;
  --ds-surface-container-high: #322053;
  --ds-surface-container-highest: #3d2b5e;
  --ds-on-surface: #ebddff;
  --ds-on-surface-variant: #c3c9b8;
  --ds-inverse-surface: #ebddff;
  --ds-inverse-on-surface: #38265a;
  --ds-outline: #8d9384;
  --ds-outline-variant: #43493c;
  --ds-surface-tint: #a5d480;
  --ds-surface-variant: #3d2b5e;
  --ds-on-background: #ebddff;

  --ds-primary: #bdee96;
  --ds-on-primary: #183800;
  --ds-primary-container: #a2d17d;
  --ds-on-primary-container: #335a14;
  --ds-inverse-primary: #406922;
  --ds-primary-fixed: #c0f199;
  --ds-primary-fixed-dim: #a5d480;
  --ds-on-primary-fixed: #0b2000;
  --ds-on-primary-fixed-variant: #29500a;

  --ds-secondary: #cdc6b8;
  --ds-on-secondary: #343026;
  --ds-secondary-container: #4d493e;
  --ds-on-secondary-container: #beb8aa;
  --ds-secondary-fixed: #e9e2d3;
  --ds-secondary-fixed-dim: #cdc6b8;
  --ds-on-secondary-fixed: #1e1b13;
  --ds-on-secondary-fixed-variant: #4b463c;

  --ds-tertiary: #ead8ff;
  --ds-on-tertiary: #3f1b6f;
  --ds-tertiary-container: #d4b6ff;
  --ds-on-tertiary-container: #603e92;
  --ds-tertiary-fixed: #eddcff;
  --ds-tertiary-fixed-dim: #d7baff;
  --ds-on-tertiary-fixed: #280056;
  --ds-on-tertiary-fixed-variant: #563487;

  --ds-error: #ffb4ab;
  --ds-on-error: #690005;
  --ds-error-container: #93000a;
  --ds-on-error-container: #ffdad6;
}
